.f-10{
  font-size: 10px
}
.f-12{
  font-size: 12px
}
.f-14{
  font-size: 14px
}
.f-16{
  font-size: 16px
}
.f-18{
  font-size: 18px
}
.f-20{
  font-size: 20px
}
.f-30{
  font-size: 30px
}
.f-40{
  font-size: 40px
}

.btn-crear{
  border-radius: 5px;
  border: none;
  background-color: midnightblue;
  color: white;
  padding: 7px 14px 7px 14px;
}
.btn-actualizar{
  border: none;
  background-color: #5d326f;
  border-radius: 3px;
  color: white;
  padding: 5px 14px 5px 14px;
}

.btn-cancelar{
  border: solid 1px #a07a23;
  border-radius: 3px;
  color: #a07a23;
  padding: 5px 14px 5px 14px;
}

.btn-eliminar{
  border: none;
  background: #a00000db;
  padding: 5px 14px 5px 14px;
  border-radius: 3px;
  color: white;
}
